@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

body {
    background-color: #2B3744;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
}

.search {
    text-align: center;
}

.search-container {
    width: 50%;
    margin: auto;
}

.input-search {
    height: 50px;
    border-radius: 40px;
    outline: none;
    font-weight: 400 !important;
}

.btn-search {
    border-radius: 40px;
}

.content h4 {
    font-size: 65px;
}

.content {
    margin: auto;
    text-align: center;
    margin-top: 90px;
}